main > .container {
  padding: 60px 15px 0;
}



.question {
  height: 220px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.full-question {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.answer {
  height: 170px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.question-avatar{
  height: 150px;
  width: 150px;
}

.question-avatar > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 3%;
  margin-left: 7.25%;
}
.answer-avatar{
  height: 100px;
  width: 100px;
}

.unauthorized{
  height: 75px;
}

.answer-avatar > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 3%;
  margin-left: 35%;
}
.profile a{
  color: white;
}
.nickname{
  color: white;
}
.profile img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.question-text{
  margin-bottom: 5%;
}

.like{
  margin-top: 5px;
  margin-left: 5%;
}

.like-counter{
  text-align: center;
  border: 1px solid green;
  border-radius: 10px;
  margin-left: 15px;
  color: green;
  padding: 2px 8px 2px;
}
.like-text{
  margin-top: 15%;
  margin-right: 100px;
}

h1 > a{
  font-size: 50%;
}

.tags a{
  margin-left: 0px;
}

.best-members a{
  margin-bottom: 20px;
}

.new-question{
}

.like-btn{
    display: inline-block;
    position: relative;
    margin: 5% 0% 0% 10%;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 8 1px 8 rgba(255, 255, 255, 8.5);
}

.like-btn[data-count]::after {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    padding: 8 8px;
    color: #777;
    content: attr(data-count);
    margin-top: 3px;
    margin-left: 5px;
    position: absolute;
}

.answer-like-btn{
    display: inline-block;
    position: relative;
    margin: 5% 0% 0% 10%;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 8 1px 8 rgba(255, 255, 255, 8.5);
}

.answer-like-btn[data-count]::after {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    padding: 8 8px;
    color: #777;
    content: attr(data-count);
    margin-top: 3px;
    margin-left: 5px;
    position: absolute;
}

.correct-btn[data-status]::after {
    content: attr(data-status);
}

.correct-btn[data-status]::after {
    value: attr(data-status);
}

#settings-avatar {
    width: 100 px;
    height: 100 px;
    object-fit: cover;
}

